# # =========================================================================
# # LOCAL CONFIGURATION (Uncomment this block & comment Server block to run locally)
# # =========================================================================
# # --- Local Credentials ---
# SERVER_PORT=8080
# DB_USERNAME=root
# DB_PASSWORD=root
# MAIL_USERNAME=support@awaazmanki.com
# MAIL_PASSWORD=Kharadi@6006
# JWT_SECRET=1234567890123456789012345678901234567890123456789012345678901234
# SOCKET_IO_PORT=8085


=========================================================================
SERVER CONFIGURATION (Uncomment this block & comment Local block to run on server)
=========================================================================
--- Server Credentials ---
SERVER_PORT=8089
DB_USERNAME=mannkiawaj
DB_PASSWORD=MannKi@2026
MAIL_USERNAME=support@awaazmanki.com
MAIL_PASSWORD=Kharadi@6006
JWT_SECRET=1234567890123456789012345678901234567890123456789012345678901234
SOCKET_IO_PORT=8085

--- Server Links ---
DB_URL=jdbc:mysql://localhost:3306/mann_ki_aawaj?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Kolkata
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=587


# =========================================================================
# OPENAI CONFIGURATION (DO NOT put your real API key here)
# =========================================================================
OPENAI_API_KEY=your_openai_api_key_here
